
$theme-colors: (
    "primary": rgb(97, 71, 226),
    "danger": rgb(255, 4, 63)
);
@import '~bootstrap/scss/bootstrap';

 h1, h2, h3, h4, h5, .navbar {
     font-family:'Lithos Black', sans-serif; 
 }
@font-face {
    font-family: 'Lithograph';
    src: url('./LITHOGRA.TTF');
}

body {
    font-family: 'Acme', sans-serif;
    min-height: 100%;
    opacity: 1;
    background: no-repeat center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-color: #6bc4c9;
    color: white;
    // box-shadow: 2px 2px 2px;
    background-image: linear-gradient(rgba(150, 138, 79, 0.5), rgba(193, 173, 123, 0.476)), url("../src/Images/wallpaper.jpg");
}


a {
    color: hsl(78, 100%, 64%);
    text-decoration: none;
}

a:hover {
    color: hotpink
}

th, td, tr {
    color: white;
    text-align: center;
    border: 10px solid  hsl(78, 100%, 64%);

}

.navbar, .form-label, #btnSearch, #btnAddNba {
    margin-bottom: 20px;
    // margin-top: 20px;
}

.form-label {
    margin-top: 20px;
}


.navbar-brand {
    margin-left: 2rem;
    color: tomato;
}

.btn, .btn-primary {
    margin-top: 10px;
    margin-right: 10px;
    // background-color: tomato !important;
    // border-color: tomato;
    box-shadow: 3px 4px rgb(235, 203, 203);
    border: 10px 10px;
    // display:flex;
    justify-content:center;
    // align-items: center;
    color: white;
    display: inline-block;
    vertical-align: top;

}

#btnAllTeams,
#btnYourTeams {
    display: inline-block;
    vertical-align: top;
    color: white;
    padding: 5px;
    font-size: 22px;
    border-radius: 6px;
    width: 10px;
    text-align: center;
}

h2, h3, h4, h5 {
    text-align: center;
}

h2 {
    color:hsl(78, 100%, 64%)
}

// put this in so the table doesn't collapse if cells are empty
td:empty::after{
    content: "\00a0";
  }
